.jumbotron {
  padding-top: 5rem;
  background-color: #e2edff;
}
html {
  scroll-behavior: smooth;
}
#projects {
  background-color: #e2edff;
}
section {
  padding-top: 5rem;
}
.navbar {
  backdrop-filter: blur(5px);
}
